$background-color-light: #FFF6EA;
$off-background-color-light:#FEECB3;
$text-color-light:black;
$card-border-color-light:black;
$card-background-color-light:$off-background-color-light;

$background-color-dark: #383838;
$off-background-color-dark: #000000;
$text-color-dark: white;
$card-border-color-dark: #000000;
$card-background-color-dark:#292929;

$font-family-title:'Roboto Condensed', sans-serif;
$font-family-text: 'Roboto', sans-serif;
$button-width:100px;
$small-button-width:70px;
$toggle-button-width:40px;

$transition-delay-1: 0s;
$transition-delay-2: 0.3s;
$transition-delay-3: 0.5s;

// $primary-color:#BF2EF0;
// $secondary-color:#ED3EF7;
// $accent-color:#FEECB3;
// $off-background-color:#FEECB3;
// $text-color:black;

